.main{
    display: grid;
    grid-template-areas: 
       "header header"
       "side body"
       "footer footer"
    ;
 }

 .body{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
       "img img img"
       "text text text"
       "square square square";
 }